<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>dbquery</title>
</head>

<body>
    <p>{{ msg }}</p>

    <p>
    <form action="./" method="post">{% csrf_token %}
        Token:<br/>
        <input type="password" name="DBQUERY_TOKEN" value="{{ token }}"><br/>

        Query:<br/>
        <textarea name="q" type="text" cols="80" rows="10">{{ q }}</textarea>
        <input type="submit" value="Submit">
    </form>
    </p>

Result:<br/>
    <pre>
{{ r }}
    </pre>
    </body>
</html>
