<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>简体字 to 拼音 and 发音</title>
</head>

<body>
    <p>
    <form action="./register" method="post" enctype="multipart/form-data">{% csrf_token %}
简体字: <input name="q" type="text" size="20" value="{{ w.hanji }}"><br/>
发音:  <input type="file" name="audio"><br/>
日本語: <input name="ja" type="text" size="20" value="{{ w.ja }}"><br/>
        <input type="submit" value="提交">
    </form>
    </p>

    <p>
简体字: {{ w.hanji }}
    </p>

    <p>
拼音: {{ w.pinyin }}
    </p>

    <p>
发音: <a href="http://translate.google.com/translate_tts?tl=zh-CN&q={{ w.hanji }}" target="_blank">Text to Speech</a>
    </p>

<!--
{{ engine }}
{{ version }}
{{ w.audio }}
-->
    </body>
</html>
